---
import Image from "astro/components/Image.astro";
import pic1 from "../../assets/1.jpg";
import pic2 from "../../assets/2.jpg";
import pic3 from "../../assets/3.jpg";
import pic4 from "../../assets/4.jpg";
import pic5 from "../../assets/5.jpg";
import pic6 from "../../assets/6.jpg";
import pic7 from "../../assets/7.jpg";
import pic8 from "../../assets/8.jpg";
import pic9 from "../../assets/9.jpg";
import pic10 from "../../assets/10.jpg";
import pic11 from "../../assets/11.jpg";
import pic12 from "../../assets/12.jpg";
---

<!-- <section class="pb-16 sm:pb-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
        Nasze realizacje
      </h2>
      <div class="">
        <div
          class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4"
        >
          <div class="flex flex-wrap">
            <div class="w-full">
              <Image
                alt="gallery"
                class="block h-full w-full rounded-3xl object-cover object-center"
                src={pic1}
              />
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full">
              <Image
                alt="gallery"
                class="block h-full w-full rounded-3xl object-cover object-center"
                src={pic2}
              />
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full">
              <Image
                alt="gallery"
                class="block h-full w-full rounded-3xl object-cover object-center"
                src={pic3}
              />
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full">
              <Image
                alt="gallery"
                class="block h-full w-full rounded-3xl object-cover object-center"
                src={pic4}
              />
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full">
              <Image
                alt="gallery"
                class="block h-full w-full rounded-3xl object-cover object-center"
                src={pic5}
              />
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full">
              <Image
                alt="gallery"
                class="block h-full w-full rounded-3xl object-cover object-center"
                src={pic6}
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> --><!-- ------------------------------------ -->
<section class="pb-16 sm:pb-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
        Nasze realizacje
      </h2>
      <div class="">
        <div
          id="lightgallery"
          class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4"
        >
          <div class="flex flex-wrap">
            <div class="w-full img-item" data-src="public/assets/1.jpg">
              <img
                alt="gallery"
                class="block h-full w-full rounded-3xl object-cover object-center"
                src="public/assets/1.jpg"
              />
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full img-item" data-src="public/assets/2.jpg">
              <img
                alt="gallery"
                class="block h-full w-full rounded-3xl object-cover object-center"
                src="public/assets/2.jpg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- --------------------------------------- -->
<section id="portfolio" class="pb-16 sm:pb-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
        Nasze realizacje
      </h2>
      <div
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4"
      >
        <!-- class="grid grid-cols-2 md:grid-cols-4 gap-4" -->
        <div class="grid gap-4">
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic1}
              alt=""
            />
          </div>
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic2}
              alt=""
            />
          </div>
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic3}
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic4}
              alt=""
            />
          </div>
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic5}
              alt=""
            />
          </div>
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic6}
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic7}
              alt=""
            />
          </div>
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic8}
              alt=""
            />
          </div>
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic9}
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic10}
              alt=""
            />
          </div>
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic11}
              alt=""
            />
          </div>
          <div>
            <Image
              class="max-w-full rounded-lg object-cover h-full"
              src={pic12}
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // @ts-ignore
  lightGallery(document.getElementById("lightgallery"), {
    selector: ".img-item",
  });
</script>
